.myprofile-photos-gallery {
    border: 1px solid #FFF;
    display: flex;
    flex-wrap: wrap;
    float:inline-start;    
}

.photopreview-desc {
    text-align: center;
}
.photopreview-image-order {
    position: relative;
    align-items: center;
    justify-content: center;
}

.myprofile-photos-close {
    position: absolute;
    cursor: pointer;
    width: 15px;
    fill: #FFF;
    margin-top: 15px;
    margin-left: -30px;
}


.photo-preview-img {
    width: 125px;
    height: 125px !important;
    border-radius: 12px;
    /* margin: 10px 10px 10px 0px;  */
}


.photopreview-wrapper {
    /* margin: 50% auto; */
    max-width: 1100px;
    display: contents;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

@media(min-width:1023px) {
.photo-preview-img {
    /* margin-left: 10px; */
    margin:0 0 0 0;
    width: 190px;
    height: 190px !important;
    border-radius: 12px;
}
.myprofile-photos-close {
    position: absolute;
    cursor: pointer;
    width: 14px;
    fill: #FFF;
    margin-top: 18px;
    margin-left: -32px;
}


}