.myprofile-photogallerytest {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    float: left;
}

.myprofile-photogallerytest>* {
    /* flex: 1;  */
    /* Allow each child element to grow equally */
}