@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Raleway&family=Source+Sans+3&display=swap');


.font-manrope {
    font-family: 'Manrope', sans-serif;
}


.mobile-image {
    width: 350px;
    height: 350px;
    object-fit: cover;


}
.mobile-content {
    display: block;
    margin: 2rem auto;

}

.mob-blog-box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;

}

.blog-content {
    display: none;
}

/* .main-header {
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin: 2rem 0 1rem 0;
} */

.sub-description-M {
    font-family: 'Manrope';
    padding: 1rem 1rem 2rem 1rem;
}



@media(min-width:600px) {
    .main-header {
        margin-left: 0;
    }

    .mobile-content {
        display: none;
    }

    .blog-content, .blog-content-1 {
        display: block;
        padding: 1rem;
        height: 100vh;
        overflow: auto;
    }

    /* fist blog */



    .first-blog {
        border-radius: 14px;
        /* border: 1px solid lightgray; */
        /* padding: 10px; */
        margin-bottom: 1rem;
    }

    .first-blog:hover h2 {
        text-decoration: underline;
    }

    .first-image-desktop {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .first-image {
        grid-column: 1/2;
        width: 100%;
        height: 100%;
        max-width: 53rem;
    }



    .first-blog:hover .first-image {
        /* width: 100%; */
    }

    .first-blog-content {
        /* grid-column: 2/2; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem;
        margin: 5rem auto;
    }

    .first-blog-content p {
        margin-top: 10px;
    }

    /* three colummn blogs */
    .three-blogs {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem;
    }

    .three-blogs img {
        width: 100%;
        max-width: 370px;

    }

    .single-blog:hover h3 {
        text-decoration: underline;
    }

    .three-blog-image {
        width: 100%;
        max-height: 0;
        padding-bottom: 100%;
        /* This creates a square aspect ratio (1:1) */
        overflow: hidden;
    }

    .three-blog-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* fout columns */
    .four-column-blogs {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem;
    }

    .four-blog-image {
        width: 100%;
        height: 250px;
        overflow: hidden;
    }

    .four-blog-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}


@media(min-width:1024px) {
    .main-header {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .blog-content,.blog-content-1, .blog-content-2  {
        display: block;
        padding: 1rem 6rem;
        height: 100vh;
        overflow: auto;
    }

    .sub-description {
        padding: 0 1rem;
        margin: 1rem 0;
    }

    /* fist blog */
    .first-blog {
        border-radius: 14px;
        margin-bottom: 1rem;
    }

    .first-blog:hover h2 {
        text-decoration: underline;
    }

    .first-image {
        width: 58rem;
        height: 100%;
        max-width: 98%;
        max-height: 50rem;
    }


    .first-blog:hover .first-image {
        width: 60rem;
        max-width: 98%;
    }

    .first-blog-content {
        /* padding:  10% 5%; */
    }

    /* .first-blog-content p {
        padding-top: 1rem;
    } */

    /* three colummn blogs */
    .three-blogs {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-auto-columns: 300px;
        gap: 2rem;
    }

    .three-blogs img {
        width: 100%;
        /* height: 280px; */
        max-height: 100%;
        max-width: 100%;
    }

    .single-blog:hover h3 {
        text-decoration: underline;
    }

    .three-blog-content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    /* fout columns */
    .four-column-blogs {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem;
    }

    .four-column-blogs img {
        width: 100%;
    }

    .fourblog-link-class:hover h4 {
        text-decoration: underline;
    }

}

@media(min-width:1250px) {
    .sub-description {
        padding: 1 1rem;

    }


    .first-image {
        width: 58rem;
        max-width: 98%;
        /* max-height: 50rem; */
    }

    .blog-content, .blog-content-1, .blog-content-2 {
        display: block;
        padding: 1rem 12rem;
        height: 100vh;
        overflow: auto;
    }

    /* fout columns */
    .four-column-blogs {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 1rem;
        /* grid-auto-rows: 390px; */
    }

    .four-column-blogs img {
        width: 100%;
    }

}


@media(min-width:1350px) {
    .three-blogs {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        /* grid-auto-columns: 300px; */
        gap: 1rem;
    }

    .first-image-desktop {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .four-column-blogs {
        display: grid;
        grid-template-columns: repeat(4, 260px);
        gap: 2rem;
    }

    .four-blog-image {
        width: 250px;
        height: 250px;
        overflow: hidden;
    }
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.button-group button {
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
}

.button-group button.active {
    background-color: #6cc2bc;
    /* Active button color */
}

/************/

.blog-content h1 {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    margin: 0 auto;
}
.blog-content h2 {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    margin: 0 auto;
}

.blog-content h3 {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    margin: 0 auto;
}

.blog-content p {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    line-height: 28px;
}
.margin-center {
   display: flex;
   justify-content: center;
}


/* black */
.blog-content-1 h1 {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    color: black !important;
    font-weight: 400 !important;
    margin: 0 auto;
}

.blog-content-1 h2 {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    margin: 0 auto;
    color: black !important;
    font-weight: 400 !important;
}

.blog-content-1 p {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    line-height: 28px;
    font-weight: 400 !important;
}

.blog-content-1 h3 {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    margin: 0 auto;
    color: black !important;
    font-weight: 400 !important;
}

/* Medium */
.blog-content-2 h1 {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 400 !important;
    margin: 0 auto;
}

.blog-content-2 h2 {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    margin: 0 auto;
    font-weight: 400 !important;
}

.blog-content-2 p {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    line-height: 28px;
    font-weight: 400 !important;
}

.blog-content-2 h3 {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    margin: 0 auto;
    font-weight: 400 !important;
}
