.blog-background {
    display: block;
    height: 100vh;
    overflow-y: scroll;
    background-color: #fff;
    /* background-color: #f2eeea; */
    width: 100%;
    position: relative;
}




.blog-background::-webkit-scrollbar {
    display: none;
}

.blog-background {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.mobile-content {
    display: block;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;

}

.mob-blog-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #f2eeea;
}

.blog-content {
    display: none;
}

.blog-main-header {
    font-family: 'Playfair Display', serif !important;
    font-weight: 500;
    font-size: 34px !important;
}

.sub-description {
    width: 80vw;
    color: black;
}



@media(min-width:600px) {
.blog-main-header {
    margin-left: 0;
}
.mobile-content {
        display: none;
    }
  .blog-content {
      display: block;
      padding: 1rem;
      height: auto;
      background-color: #fff;
      position: relative;
  }


 /* fist blog */
 .first-blog {
     border-radius: 14px;
     margin-bottom: 1rem;
     background-color: #f2eeea;
 }
 .first-blog:hover h2 {
     text-decoration: underline;
 }
 .first-image-desktop {
     display: grid;
     grid-template-columns: repeat(2, minmax(0, 1fr));
 }
 .first-image {
    grid-column: 1/2;
    padding: 1rem;
     width: 100%;
     height: 100%;
     object-fit: cover;
     aspect-ratio:1/1;
     max-width: 45rem;
     border-radius: 14px;
 }

 .first-blog:hover .first-image {
     /* width: 100%; */
 }
 .first-blog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
    padding: 0 1rem 0 0;
    margin: 5rem auto;
 }
 .blog-read-more {
    width: 10rem;
    height: 45px;
    padding: 1.5rem;
    border-radius: 8px;
    background-color: var(--abia-color);;
    color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.first-blog-content p {
    margin-top: 10px;
}

/* three colummn blogs */
.three-blogs {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 350px));
    grid-auto-rows: 490px;
    gap: 1rem;
}

.three-blogs img {
    width: 100%;
    border-radius: 14px 14px 0 0;
}

.single-blog:hover h3 {
    text-decoration: underline;
}

.three-blog-content {
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    background-color: #f2eeea;
    height: 490px
}

}


@media(min-width:1024px) {
    .main-header {
        margin-left: 0;
    }

    .blog-content {
        display: block;
        padding: 1rem 6rem;
        height: auto;
    }
    /* fist blog */
    .first-blog {
        border-radius: 14px;
        margin-bottom: 1rem;
    }


    .first-blog-content {
        padding: 0 3rem;
    }

/* three colummn blogs */
    .three-blogs {
        display: grid;
        grid-template-columns: repeat(3, minmax(0,1fr));
        grid-auto-rows: 500px;
        /* grid-auto-columns: 300px; */
        gap: 2rem;
    }
    .three-blogs img {
        width: 100%;
        max-height: 100%;
        max-width: 100%;
       
    }

    .single-blog:hover h3 {
        text-decoration: underline;
    }
    .three-blog-content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        height: 500px
    }

    .sub-description {
        width: 52vw;
    }

}

@media(min-width:1250px){
  
    .blog-content {
        display: block;
        padding: 1rem 12rem;
        height: auto;
    }


}


@media(min-width:1350px) {
     .three-blogs {
        display: grid;
        grid-template-columns: repeat(3, minmax(0,1fr));
        grid-auto-rows: 565px;
        gap: 1rem;
    }
.first-image-desktop {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .three-blog-content {
        height: 565px;
    }



}
