.mobile-content {
display: block;
margin: 2rem auto;

}

.mob-blog-box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;

}

.blog-content {
    display: none;
}

.main-header {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 500;
    margin: 2rem 0 1rem 0;
    /* text-align: center; */
}

.sub-description {
    padding: 0 1rem;
}



@media(min-width:600px) {
.main-header {
    margin-left: 0;
}
.mobile-content {
        display: none;
    }
  .blog-content {
      display: block;
      padding: 1rem ;
      height: 100vh;
      overflow: auto;
  }
 /* fist blog */



 .first-blog {
     border-radius: 14px;
     /* border: 1px solid lightgray; */
     /* padding: 10px; */
     margin-bottom: 1rem;
 }
 .first-blog:hover h2 {
     text-decoration: underline;
 }
 .first-image-desktop {
     display: grid;
     grid-template-columns: repeat(2, minmax(0, 1fr));
 }
 .first-image {
    grid-column: 1/2;
     width: 100%;
     height: 100%;
     max-width: 53rem;
 }



 .first-blog:hover .first-image {
     /* width: 100%; */
 }
 .first-blog-content {
    /* grid-column: 2/2; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    margin: 5rem auto;
 }
.first-blog-content p {
    margin-top: 10px;
}

/* three colummn blogs */
.three-blogs {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
}

.three-blogs img {
    width: 100%;
    max-width: 370px;
    
}

.single-blog:hover h3 {
    text-decoration: underline;
}

.three-blog-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

    /* fout columns */
    .four-column-blogs {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem;
    }

.four-blog-image {
    width: 100%;
    max-height: 250px;
    /* width: 250px; 
  height: 250px;  */
  overflow: hidden; 
}

.four-blog-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
}

}


@media(min-width:1024px) {
.main-header {
        margin-left: 0;
        margin-bottom: 1rem;
    }
    .blog-content {
        display: block;
        padding: 1rem 6rem;
        height: 100vh;
        overflow: auto;
    }
.sub-description {
    padding: 0 1rem;
    margin: 1rem 0;
}

    /* fist blog */
    .first-blog {
        border-radius: 14px;
        margin-bottom: 1rem;
    }

    .first-blog:hover h2 {
        text-decoration: underline;
    }

    .first-image {
        width: 58rem;
        height: 100%;
        max-width: 98%;
        max-height: 50rem; 
    }


    .first-blog:hover .first-image {
        width: 60rem;
        max-width: 98%;
    }

    .first-blog-content {
        /* padding:  10% 5%; */
    }

    /* .first-blog-content p {
        padding-top: 1rem;
    } */

/* three colummn blogs */
    .three-blogs {
        display: grid;
        grid-template-columns: repeat(3, minmax(0,1fr));
        grid-auto-columns: 300px;
        gap: 2rem;
    }
    .three-blogs img {
        width: 100%;
        /* height: 280px; */
        max-height: 100%;
        max-width: 100%;
    }

    .single-blog:hover h3 {
        text-decoration: underline;
    }
    .three-blog-content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    /* fout columns */
    .four-column-blogs {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem;
    }

    .four-column-blogs img {
        width: 100%;
    }

   .fourblog-link-class:hover h4 {
    text-decoration: underline;
   }

}

@media(min-width:1250px){
    .sub-description {
        padding: 1 1rem;
       
    }


    .first-image {
            width: 58rem;
            max-width: 98%;
            /* max-height: 50rem; */
        }

    .blog-content {
        display: block;
        padding: 1rem 12rem;
        height: 100vh;
        overflow: auto;
    }

/* fout columns */
    .four-column-blogs {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 1rem;
        /* grid-auto-rows: 390px; */
    }

    .four-column-blogs img {
        width: 100%;
    }
    
}


@media(min-width:1350px) {
     .three-blogs {
        display: grid;
        grid-template-columns: repeat(3, minmax(0,1fr));
        grid-auto-columns: 300px;
        gap: 1rem;
    }
.first-image-desktop {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

.four-column-blogs {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 2rem;
}

.four-blog-image {
    width: 250px;
    height: 250px;
    overflow: hidden;
}
}
