@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* PROFILE WHOLE */
.headergroup-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}


.preview-listing-div {
    width: 10rem;
    border: 2px solid black;
    padding: 0.5rem;
    border-radius: 16px;
    margin-bottom: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* right: 13rem; */
    right: 1rem;
    top: 7rem;
}

.previewlisting-width {
    width: 0;
}


/* @media(min-width:1023px) {
.preview-listing-div {
    right: 8rem;
}
}
@media(min-width:1200px) {
    .preview-listing-div {
        right: 10rem;
    }
}

@media(min-width:1350px) {
    .preview-listing-div {
        right: 13rem;
    }
}

@media(min-width:1500px) {
    .preview-listing-div {
        right: 22rem;
    }
} */

.myprofile-container {
    /* max-width: 1100px; */
    padding: 20px;
    padding-top: 1px !important;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 90px repeat(4, 1fr);
}

/* .profile-selection-postion {
    display: flex;
    justify-content: end;
} */

.preview-listing-button {

    font-size: 18px;
    font-weight: 700;
    width: 160px;
    border-radius: 15px;
    font-family: 'Raleway', sans-serif;
    height: 40px;
    margin: 0 auto;
    border: 2px solid #525252;
    border-radius: 15px;
}

.target-active:active {
    border: 2px solid #525252;
    border-radius: 15px;
    padding: 5px;
}

.target-location-text {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid #525252;
}



@media(min-width:1023px) {

    .headergroup-container {
        display: grid;
        grid-template-columns: repeat(80, 1fr);

        /* grid-template-rows: 90px repeat(2, 1fr); */
    }




    .myprofile-container {
        /* max-width: 1100px; */
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(80, 1fr);
        grid-template-rows: 90px repeat(2, 1fr);
        /* grid-template-rows: 100px 100px 100px 100px; */
    }

    .preview-listing-button {
        /* margin: 0%; */
        font-size: 17px;
        font-weight: 600;
        width: 160px;
        border-radius: 15px;
        height: 40px;
        border: 2px solid #525252;
    }

}

@media(min-width:1350px) {
    .target-button-div {
        /* grid-column: 35/48; */
        grid-column: 43/55;
    }

}


/***********PREVIEWLISTING ********/

.preview-listing-container {
    max-width: 1000px;
    grid-column: 1/17;
    grid-row: 1/6;
    margin-top: 3rem;
   padding: 0 12px;
    /* width:100% */
   

}

.profile-listing-header {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 26px;
    margin-top: 0px;
    /* color: #515151; */
    color: #222222;

}

.myprofile-accordion {
    grid-column: 2/15;
    grid-row: 2/5;
    /* border: 1px solid #dad6d6; */
    background-color: #ffffff;
}


.myprofile-accordion-button {
    position: relative;
    cursor: pointer;
    padding: 25px 10px 25px 0px;
    width: 100%;
    /* display: flex; */
    align-items: flex-start;
    /* border: transparent !important; */
    border-bottom: 1px solid #EBEBEB;
    outline: none;
    /* Add this line to remove the outline when focused */
}



.myprofile-edit-button {
    position: absolute;
    right: 0px;
    font-size: 14px;
    font-weight: 600;
    /* color: #515151; */
    color: #222222;
    text-decoration: underline;
}

.myprofile-up-aroww {
    position: absolute;
    color: #6cc2bc;
    margin-left: 0px;
    right: 15px;
    transform: rotate(0deg);
    transition: transform 0.3s;
    opacity: 0;
}

.myprofile-save-button {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    background-color: #6cc2bc;
    color: white;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.myprofile-accordion-item-header {
    font-size: 16px;
    font-weight: 400;
    color: #222222;
    font-family: 'Raleway', sans-serif;
    line-height: 20px;
}

.myprofile-accordion-item-header-2 {
    font-size: 16px;
    font-weight: 400;
    color: #222222;
    line-height: 20px;
}

.myprofilePhotos-accordion-item-header {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    /* color: #515151; */
    color: #222222;
    padding-top: 20px;
    /* padding-bottom: 20px; */
    font-family: 'Raleway', sans-serif;
}

.myprofile-accordion-subheading {
    /* color: #8e8e8e; */
    color: #717171;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding-right: 45px;
    word-break: break-word;
    white-space: normal;
    font-family: 'Raleway', sans-serif;
}



.myprofile-accordion-subheading-pricing {
    color: #8e8e8e;
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 18px;
    padding-right: 45px;
    word-break: break-word;
    /* white-space: nowrap; */
}



.myprofile-accordion-button[aria-expanded="true"] .myprofile-accordion-subheading-pricing {
    display: none;
}

.myprofilephotovideo-accordion-border {
    margin-top: -25px;
}


.myprofile-accordion-button[aria-expanded="true"] {
    border-bottom: 0px solid #b1b1b1;
}

.myprofile-accordion-button[aria-expanded="true"] .myprofile-accordion-item-header {
    padding-left: 25px;
    font-weight: 600;
}

.myprofile-accordion-button[aria-expanded="true"] .myprofile-heading-expand {
    /* padding-left: 25px; */
    font-weight: 600;
}

/* .myprofile-accordion-button[aria-expanded="true"] h4 {
    font-weight: 600;
} */

.myprofile-accordion-button[aria-expanded="true"] .myprofile-accordion-item-header-2 {
    padding-left: 25px;
}

.myprofile-accordion-button[aria-expanded="true"] .myprofile-accordion-subheading {
    padding-left: 25px;
    padding-right: 20px;
}

.myprofile-accordion-button[aria-expanded="true"] .qandA-button-change {
    display: none !important;
}

.myprofile-accordion-button[aria-expanded="true"] .myprofile-edit-button {
    opacity: 0;
}

.myprofile-accordion-button[aria-expanded="true"] .myprofile-up-aroww {
    opacity: 1;
    margin-top: -23px;
    /* position: absolute; */
}

.myprofile-accordion-panel {
    padding: 0px 20px 30px 20px;
    /* border-bottom: 1px solid #b1b1b1; */
}




.quickdesc-summary {
    /* margin-top: 20px; */
    /* overflow-wrap: break-word; */
    margin: 15px 15px 10px 25px;
    color: #8e8e8e;
}

.borderno- {
    border: none;
}

.hidden {
    display: none;
}



/* .myprofile-accordion-button:active */

input[type="radio"] {
    /* Hide the default radio button */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Create a custom circular radio button */
    width: 20px;
    height: 20px;
    border: 4px solid #dad6d6;
    border-radius: 50%;
    margin-right: 8px;
    outline: none;
    cursor: pointer;
    background-color: #ffffff;

}

input[type="radio"]:checked {
    /* Replace "desired-color" with the color you want for the radio button when checked */
    background-color: #6cc2bc;
}



.horizontal-line {
    border: 1px solid #dcdbdb;
    margin-top: 25px;
}

/* .photos-subheading-text {
    display: none;
} */

.photos-subheading-text {
    display: none;
    color: #8e8e8e;
    font-size: 14px;
    padding-right: 40px;
    white-space: pre-line;
    word-wrap: break-word;
    margin: 12px 0px 5px 0px
}




@media(min-width:1023px) {
    .preview-listing-container {
        /* max-width: 1100px; */
        grid-column: 2/62;
        grid-row: 1/4;
        margin-top: 3rem;
        margin-left: 2rem;
        width: 80%;
        /* margin-bottom: 100px; */
    }

    .myprofile-up-aroww {
        position: absolute;
        color: #6cc2bc;
        margin-left: 43vw;
        transform: rotate(0deg);
        transition: transform 0.3s;
        opacity: 0;
    }

    .myprofile-edit-button {
        position: absolute;
        right: 12px;
        font-size: 14px;
        font-weight: 800;
        text-decoration: underline;
    }



    .profile-listing-header {
        font-size: 22px;
        font-weight: 800;
        line-height: 26px;
        margin-top: 0px;
        color: #515151;
    }

    .photos-subheading-text {
        display: block;
        color: #8e8e8e;
        font-size: 14px;
        padding-right: 40px;
        white-space: pre-line;
        word-wrap: break-word;
        margin: 12px 0px 5px 0px
    }

    .myprofile-accordion-panel {
        padding: 0px 20px 30px 40px;
        /* border-bottom: 1px solid #b1b1b1; */
    }

    .myprofile-accordion-button[aria-expanded="true"] .myprofile-accordion-item-header {
        padding-left: 40px;
    }

    .myprofile-accordion-button[aria-expanded="true"] .myprofile-accordion-item-header-2 {
        padding-left: 40px;
    }

    .myprofile-accordion-button[aria-expanded="true"] .myprofile-accordion-subheading {
        padding-left: 40px;
        padding-right: 20px;
        max-width: 875px;
    }

    .myprofile-accordion-subheading {
        margin-top: 10px;
        max-width: 900px;
        padding-right: 55px;
        word-break: break-word;
        white-space: inherit;
    }
}

.preview-listing-container hr {
    border-color: #b1b1b1;
}

/******* QUICK DESCRIPTION ******/
        /* Default border color for collapsed state */


    
        .myprofile-textarea-style {
            margin-top: 1px;
            background-color: #F4F5F6;
            border: 1px solid #b1b1b1;
            border-radius: 10px;
            width: 100%;
            height: 150px;
            padding: 15px;
            outline: none;
        }
    
    
        .myprofile-button-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1rem;
        }
        .myprofile-button-group-2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1rem;
        }
    
    
        .myprofile-save-button {
            display: inline-block;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 40px;
            border-radius: 30px;
            background-color: #6cc2bc;
            color: white;
            font-size: 14px;
            font-weight: 700;
            cursor: pointer;
        }
    
        .myprofile-save-button.clicked .myprofile-accordion-button[aria-expanded="false"] {
            /* Apply your desired styles here */
    
        }
    
        .myprofile-cancel-button {
            display: inline-block;
            text-decoration: underline;
            font-size: 14px;
            font-weight: 700;
            cursor: pointer;
        }
    
        .quickdescription-down-aroww {
            position: absolute;
            color: #6cc2bc;
            margin-left: 63vw;
            margin-top: -23px;
            cursor: pointer;
        }
    
        .display-showmore {
            display: block;
            margin-top: 10px;
            font-weight: 600;
    
        }
    
        .profile-editor-position {
            position: relative;
            display: flex;
            flex-direction: column;
            /* padding: 0 1rem 1rem 1rem; */
        }
    
    
        @media(min-width:769px) {
            .quickdescription-down-aroww {
                position: absolute;
                margin-left: 40vw;
                margin-top: -23px;
            }
            .myprofile-button-group-2 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 5rem;
            }
        }
    
        @media(min-width:860px) {
            .quickdescription-down-aroww {
                position: absolute;
                margin-left: 42vw;
                margin-top: -23px;
            }
        }
    
        @media(min-width:920px) {
            .quickdescription-down-aroww {
                position: absolute;
                margin-left: 46vw;
                margin-top: -23px;
            }
        }
    
        @media(min-width:1023px) {
            .quickdescription-down-aroww {
                position: absolute;
                color: #6cc2bc;
                margin-left: 48vw;
                margin-top: -20px;
            }
    
            .myprofile-textarea-style {
                position: relative;
            }
    
            .myprofile-save-button {
                position: absolute;
                right: 52px;
            }
    
            .myprofile-textarea-style {
                width: 90%;
            }
        }
    
    
        @media(min-width:1250px) {
            .myprofile-save-button {
                right: 70px;
            }
        .myprofile-button-group-2 {
            margin-top: 0;
        }
        }
    
        @media(min-width:1350px) {
            .myprofile-save-button {
                position: absolute;
                right: 90px;
            }
        }
/******* FULL DESCRIPTION ******/
.bprofile-editor-container {
    width: 100%;
    min-height: 10rem;
    height: auto;
    border: 1px solid #B1B1B1;
    border-radius: 1rem;
    background-color: #F4F5F6;
    font-size: 14px;

}

@media(min-width:1024px) {
.bprofile-editor-container {
        width: 90%;
      
    }
}

.fulldescription-down-aroww {
    color: #6cc2bc;
    margin-left: 63vw;
    margin-top: -23px;
}

.display-showmore {
    display: block;
    margin-top: 10px;
    font-weight: 600;

}

@media(min-width:1024px) {
    .fulldescription-down-aroww {
        color: #6cc2bc;
        margin-left: 49vw;
        margin-top: -20px;
    }
}


/* Q and A */
.QandA-panel-container {
    padding: 1px 25px 25px 0px;
}

.question-input-style {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: #fafafa;
    border: 1px solid #c3bebe;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.answer-input-style {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background: #fafafa;
    border: 1px solid #c3bebe;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
    outline: none;
}

.qandA-delete-button {
    position: absolute;
    right: 2rem;
    margin-top: -2.5rem;
}

.question-cancel-button {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;

}

@media(min-width:1023px) {
    .question-input-style {
        width: 90%;
    }

    .answer-input-style {
        width: 90%;
    }

    .qandA-delete-button {
        right: 4rem;
    }
}

@media(min-width:1250px) {
    .qandA-delete-button {
        right: 5rem;
    }
}


.error {
    font-size: 12px;
    color: red;
}

/* Draft editor */

.rdw-editor-toolbar {
    padding: 6px 5px 0;
    border-radius: 14px 14px 0 0 !important;
    border: 1px solid #F1F1F1;
    display: flex;
    justify-content: flex-start;
    background: white;
    flex-wrap: wrap;
    font-size: 15px;
    margin-bottom: 5px;
    -webkit-user-select: none;
    user-select: none;
}

.rdw-editor-main {
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0 8px !important;
}


/* pricing*/
.pricing-panel-container {
    padding: 1px 25px 25px 0px;
}

.dollar-icon {
    position: absolute;
    top: 67%;
    left: 10px;
    transform: translateY(-50%);
    background: url(../../icons/dollar-sign-symbol-bold-text-svgrepo-com.svg) center center no-repeat;
    width: 14px;
    height: 14px;
    background-size: contain;
    /* margin-top: 1rem; */
}

.dollar-icon2 {
    position: absolute;
    top: 50%;
    left: 6.5rem;
    transform: translateY(-50%);
    background: url(../../icons/dollar-sign-symbol-bold-text-svgrepo-com.svg) center center no-repeat;
    width: 16px;
    height: 16px;
    background-size: contain;
}

.myprofile-accordion-button[aria-expanded="true"] .myprofile-pricing-subheading {
    display: none;
}

.pricing-input-style {
    width: 80%;
    height: 45px;
    border-radius: 10px;
    background: #F4F5F6;
    border: 1px solid #c3bebe;
    padding: 10px;
    padding-left: 27px;
    margin-top: 5px;
    cursor: pointer;
}




.yes-button {
    width: 4rem;
    height: 2rem;
    border-radius: 10px;
/* ced6d2 */
    background-color: #ced6d2;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.yes-button.selected {
    background-color: #15a75c;
    color: white;
}

.yes-button.selected:active {
    background-color: #15a75c;
    color: white;
}

.no-button {
    width: 4rem;
    height: 2rem;
    border-radius: 10px;
    background-color: #ced6d2;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    outline: none;
}

.no-button.selected {
    background-color: #ff0000;
    color: white;
}

.no-button.selected:active {
    background-color: #ff0000;
    color: white;
}

.pricing-save-button {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 90px; */
    width: 90px;
    margin-top: 55px;
    height: 40px;
    border-radius: 30px;
    background-color: #6cc2bc;
    color: white;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.pricing-addons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}

.pricing-addon-label {
    position: inherit;
    margin-top: 10px;
    font-weight: 600;
    width: 44%;
}

.capacity-input-style {
    width: 4rem;
    height: 2rem;
    border-radius: 10px;
    background: #F4F5F6;
    border: 1px solid #c3bebe;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
    /* margin-left: 1rem; */
}

.pricing-category-label-section {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d7d7d7;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-weight: 600;
    font-size: 16px;
}

.pricing-cate-label {
    font-weight: 600;
    font-size: 16px;
    background-color: white;
    padding: 0 10px;
}

@media(min-width:437px) {


    .pricing-button-group {
        display: flex;
        justify-content: space-between;
    }
}

@media(min-width:1023px) {
    .pricing-input-style {
        width: 25%;
        height: 45px;
    }

    /* .capacity-input-style {
        width: 8%;
        margin-left: 2rem;
    } */
    .pricing-save-button {
        margin-top: 51px;
        width: 120px;
    }

    .pricing-addon-label {
        position: inherit;
        margin-top: 10px;
        font-weight: 600;
        width: 20%;
    }

    .capacity-input-style {
        width: 5rem;
        height: 2.5rem;
        border-radius: 10px;
        background: #F4F5F6;
        border: 1px solid #c3bebe;
        padding: 10px;
        margin-top: 5px;
        cursor: pointer;
    }
}

@media(min-width:1350px) {
    .pricing-save-button {
        position: absolute;
        right: 90px;
    }
}



/*  pacakges */
.package-panel-container {
    padding: 1px 25px 25px 0px;
    font-family: 'Raleway', sans-serif;
}


.packages-upload-button {
    display: inline-block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 120px;
    height: 40px;
    background-color: #e8cf82;
    border: 1px solid #ccc;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 800;
}

.package-upload-icons {
    font-size: 21px;
    margin-left: 5px;
}

@media(min-width:10223px) {
    .package-panel-container {
        padding: 1px 25px 25px 0px;
    }
}