@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Playfair+Display:wght@500&display=swap');

/* font-family: 'Playfair Display',
 serif; */

.couples-singup-container {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: 10vh 90vh;
    height: 100vh;
}

.cs-signup-header {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 28px;
    margin-top: 8%;
    margin-bottom: 4%;
}

.couples-signup-image {
    display: none;
}

.cs-signup-form {
    grid-column: 3/29;
    margin: 0 0 10% 0;
}

@media screen and (min-width:1024px) {
    .couples-signup-image {
        display: block;
        flex: 1 1 40%;
        max-width: 768px;
        border-bottom: none;
        border-right: 1px solid #b7b7b7;
        grid-column: 1/14;
        grid-row: 1/3;
    }

    .cs-signup-form {
        grid-column: 17/27;
        margin: 0 0 10% 0;
    }
}


.cs-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 1rem;
    height: 95vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* font-[14px] capitalize text-[#0e0e0e] font-raleway */
.cs-pageone-option {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    color: #0e0e0e;

}

.cs-image-container-1 {
    background-image: url(../../images/register-wedding-vendor.webp);
}

.cs-image-container-2 {
    background-image: url(../../images/register-wedding-vendor2.webp);
}

.cs-image-container-3 {
    background-image: url(../../images/register-wedding-vendor3-1.webp);
}



.cs-button-text-position {
    display: flex;
    justify-content: center;
}

.cs-next-button {
    text-transform: capitalize;
    color: white;
    font-size: 14px;
}



.cs-text-highlight {
    font-weight: 600;
    text-decoration: underline;
}

.cs-close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 28/30;
    cursor: pointer;
}



.cs-textfield {
    width: 100%;
    /* max-width: 16rem; */
}

.cs-textfield-2 {
    width: 100%;
}

.cs-textfield-flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cs-back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    grid-column: 2/8;
    cursor: pointer;
}


@media screen and (min-width:1024px) {

    .cs-back-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        grid-column: 15/16;
        cursor: pointer;
    }

    .cs-textfield-flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .cs-textfield {
        width: 100%;
        max-width: 16rem;
    }
}

/* Stepper */
/* .MuiSvgIcon-root {
    color: #757575 !important;
}
.MuiSvgIcon-root.MUi-active {
    color: #6cc2bc !important;
} */
