@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Playfair+Display:wght@500&display=swap');



.login-couple-content {
    height: 100vh;
    width: 100%;
    background-image: url(../../images/couple-login-page-image.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-vendorlogin-box {

    position: relative;
    width: 320px;
    height: 375px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

/* flex flex-col justify-center items-center p-[20px] relative */

.login-input-style {
    position: absolute;
    width: 100% !important;
    max-width: 16rem;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #c3bebe;
    cursor: pointer;
    padding-left: 10px;
    font-size: 14px;
}

.login-login-button {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 260px;
    height: 35px;
    border-radius: 30px;
    background-color: #6cc2bc;
    color: white;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 2rem;
    margin-top: 4rem;
    outline: none;
}



.login-loginbox-header {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    margin-top: 10px;
}


.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions>svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.login-section-desktop {
    display: none;
}


.login-forgot-password {
    cursor: pointer;
    display: flex;
    color: var(--abia-color);
    font-size: 14px;
    justify-content: end;
    align-items: end;
    font-weight: 600;
}

@media(min-width:768px) {
    .login-content-adjust {
        display: inline-block;
    }


}

@media(min-width:1024px) {
    .login-main-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-main-container.login-section-desktop {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .login-vendorlogin-box {
        display: none;
    }

    .login-vendorlogin-box2 {
        /* display: none; */
        position: relative;
        width: 320px;
        height: 375px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 15px;
    }


    .login-loginbox-header {
        font-family: 'Manrope', sans-serif;
        font-size: 30px;
        font-weight: 600;
        margin-top: 10px;
    }

    .login-section-desktop {
        display: block;
        width: 70vw;

    }

    .login-couple-content {
        width: 60%;
        border-top-right-radius: 51%;
        border-bottom-right-radius: 50%;
        background-image: url(../../images/couple-login-page-image.webp);
        background-size: cover;
        /* background-size: 100%; */
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}



.playfair {
    font-family: "Playfair, sans-serif";
    font-style: italic;
    font-weight: 400 !important;
}

/* .cl-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}


@media (min-width: 1023px) {
    .cl-iconsbutton {
        right: 22%;
    }
}

.cl-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}



.cl-gap {
    visibility: hidden;
}

.cl-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.25rem;
}

@media screen and (min-width:400px) {
.cl-label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0.5rem;
        margin-bottom: 0.25rem;
    }
}
@media screen and (min-width:1023px) {
    .cl-label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0.5rem;
        margin-left: 0rem;
        margin-bottom: 0rem;
    }
}
    
.clLoginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    width: 100%;
    height: 40px;
    background-color: #6cc2bc;
    border: none;
    color: #fff;
    font-size: 14px;
}

.clLoginButton:hover {
    background-color: #6cc2bc;
    border: none;
}

.clLoginButton:active {
    background-color: #6cc2bc;
    border: 1px solid black;
}

.clLoginButton:focus {
    background-color: #6cc2bc;
    border: none;
}

.clLoginButton .MuiSvgIcon {
    fill: black;
}

.cs-login-header {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}


.clogin-margin-auto {
    margin-top: 10px;
    text-align: center;
} */
