@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Playfair+Display:wght@500&display=swap');

.directory-page-container {
    background-color: #fff;
}
  /* .directory-page-container::after {
      content: "";
      background-image: url(../../icons/ABIA-White-Logo.svg);
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      position: absolute;
      top: 63%;
      left: 95%;
      transform: translate(-50%, -50%) rotate(-90deg);
      height: 100vh;
      width: 100%;
  } */
    .directory-breadcrumbs {
        display: block;
         background: #f5f5f5;
        height: 40px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 4.06%;
    }

    .directory-breadcrumbs-mob {
        display: block;
        background: #f5f5f5;
        height: 40px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 4%;
    }

    @media (max-width: 500px) {
        .directory-breadcrumbs {
            display: none;
        }
    }

    @media (min-width: 501px) {
        .directory-breadcrumbs-mob {
            display: none;
        }
    }


    .main-section {
        padding-block: 1rem;
        width: min(95%, 68rem);
        margin-inline: auto;
        /* background-color: #f5f5f5; */
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        gap: 1rem;
        grid-template-areas: 
            'header'
            'desc'
            'search'
            'filter'
        ;
    }

    .directory-main-grid {
        padding: 0.5rem;
    }
.irectory-main-grid:nth-child(1){
    grid-area: header;
}
.irectory-main-grid:nth-child(2) {
    grid-area: desc;
}.irectory-main-grid:nth-child(3) {
    grid-area: search;
}.irectory-main-grid:nth-child(4) {
    grid-area: filter;
}
    /* .main-content {
        background-color: #fff;
        width: 40vw;
        max-width: 40vw;
    } */

    .main-content-header {
       /* background-color: #873131; */
        font-family: 'Manrope',sans-serif;
        /* font-size: px; */
        font-weight: 800;
       grid-area: header;
    }

    .main-content-desc {
        color: #515151;
        /* font-family: 'Manrope', serif; */
        font-weight: 500;
       grid-area: content;
       grid-column: 1/2;
       grid-row: 2/4;
       white-space: normal;
       /* text-align: justify; */
       
    }

    .dir-sortfilter {
        display: flex;
        font-size: 12px;
        font-weight: 500;
    }
    .sort-header {
        display: block;
    }
    .sort-section {
        display: block;
        /* background-color: blue; */
        grid-area: filter;
        grid-row: 5/6;
    }
.small-x {
    font-size: 14px;
}
 /* Form Request pricing Box */
 .request-box-style {
     display: flex;
     justify-content: center;
     align-items: center;
 }
@media screen and (max-width:550px) {
    .dir-sortfilter {
       display: none;
    }
    .sort-header {
        display: none;
    }
    .sort-section {
        display: none;
        /* background-color: blue; */
        grid-area: filter;
        grid-row: 5/6;
    }
 .request-box-style {
    display: block;
 }
}

    .filter-section {
        display: block;
        /* background-color: antiquewhite; */
        grid-area: search;
        grid-row: 4/5;
    }

    .mobfilter-nav {
        display: none;
    }

    @media screen and (max-width:550px) {
        .mobfilter-nav {
                display: block;
            }
    }

    .dirmain-search-button {
        position: relative;
        display: flex;
        justify-content: flex-start;
    }

/* Cards */

    .cards-grid-container {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: min(95%, 68rem);
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
        grid-auto-rows: minmax(200px, auto);
        gap: 1rem;
    }


    .dircard-box {
        border: 1px solid #a3a3a3;
        border-radius: 5px;
    }

    .dircard-image {
        height: 340px;
        /* width: 380px; */
        width: 100%;
        object-fit: cover;
        border-radius: 3px 3px 0px 0px;
    }

    .dircard-info {
        /* #a3a3a3 */
        border: 1px solid #c7c7c7;
        padding: 20px 25px;
        border-radius: 0px 0px 3px 3px;
        background-color: #fff;
    }

    .dircard-info>.direcard-location {
        font-size: 10px;
    }

    .dircard-info>.header {
        font-family: 'Manrope',sans-serif;
        font-weight: 600;
    }

    .request-pricing {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rating-ifno-div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .pricing-button {
        background-color: #6cc2bc;
    }

    .heartbutton-div {
        cursor: pointer;
    }
    
    .heart-icon {
        position: absolute;
        top: 0;
        right: 0;
        margin: 2rem 1rem; 
    }

    .card-hearticon {
        color: white;
    }

    .white-icon:hover {
        color: #873131 !important;
    }

    .form-close-button {
        position: fixed;
        margin-left: 445px;
        font-size: 22px;
        cursor: pointer;
    }

    .form-header {
        font-weight: 900;
        display: flex;
        justify-content: center;
    }
    .activeSort{
        background-color: #000;
        box-shadow: none;
        color: white;
    }


@media screen and (min-width: 1024px) {
            
    .main-section {
        margin-top: 1.5rem;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-areas: 
            "header header"
            "desc search"
            "desc filter";
        gap: 0.25rem;
        /* column-gap: 5rem; */
    }
    .main-content-header {
        /* background-color: #873131; */
        grid-area: header;
        grid-column: 1/4;
    }

    .main-content-desc {
        /* background-color: aqua; */
        color: #515151;
        grid-area: content;
        grid-row: 2/4;
        grid-column: 1/2;
        white-space: normal;
        text-align: justify;
        max-width: 500px;

        /* grid-column: ; */
    }

    .dir-sortfilter {
        display: flex;
        justify-content: end;
        font-size: 12px;
        font-weight: 500;
    }
    

    .filter-section {
        display: block;
        /* background-color: antiquewhite; */
        grid-area: search;
    }
    .sort-section {
        display: block;
        /* background-color: blue; */
        grid-area: filter;
    }

    .cards-grid-container {
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: block;
        width: min(95%, 68rem);
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
        grid-auto-rows: minmax(200px, auto);
       gap: 2rem;
    }

    .dircard-image {
        height: 340px;
        /* width: 4500px; */
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        border-radius: 3px 3px 0px 0px;
    }

   .dircard-info {
    width: 100%;
   }

}


