.review-margin {
    margin: 2rem 1rem;
}

.abia-logo-section {
    border: 1px solid #d7d7d7;
    border-radius: 50%;
    background-color: var(--abia-color);
    width: 75px;
    height: 75px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.reviews-container-1 {
    margin: 0rem auto;
    /* border: 1px solid #d7d7d7; */
    width: 600px;
    height: 90vh;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media(max-width:600px) {
    .reviews-container-1 {
        margin: 0rem auto;
        width: 350px;

    }
}
.reviews-container {
    margin: 0rem auto;
    /* border: 1px solid #d7d7d7; */
    width: 600px;
    height: 90vh;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media(max-width:600px) {
.reviews-container {
    margin: 10rem auto;
    width: 350px;
  
}
}
.review-logo-section {
    width: 6rem;
    height: 6rem;
    border: 1px solid transparent;
    
}

.review-heading {
  font-weight: 400;
  font-size: 26px;
    text-align: center;
}

.review-next-button {
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
}

.rating-category {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating-category-stack {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width:1023px) {
.rating-category-stack {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
}

.rating-stack-1 {
    display: flex;
    gap: 2rem;
}

.rating-textarea {
    border: 1px solid #b7b7b7;
    outline: none;
    width: 100%;
    height: 7rem;
    font-size: 14px;
    padding: 1rem;
    border-radius: 10px;
    /* max-width: 50rem; */
}

.ratings-selected-category-section {
    height: auto;
    overflow: auto;
    box-sizing: border-box;
}

.ratings-selected-category-section::-webkit-scrollbar {
    width:8px
}

.ratings-selected-category-section::-webkit-scrollbar-thumb {
    background-color: var(--abia-color);
}

.ratings-selected-category-section::-webkit-scrollbar-track {
    background-color: #d7d7d7;
}

.reviews-help-stack {
    display: flex;
    gap: 1rem;
}

@media(max-width:600px) {
    .reviews-help-stack {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
}


.thankyou-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: var(--grey-bg-color);
    border-radius: 12px;
    width: 300px;
    padding: 4rem 0 4rem 0;
}

@media(min-width:600px) {
.thankyou-container {
    width: 450px;
}

}
@media(min-width:1023px) {
    .thankyou-container {
        width: 550px;
    }

}

.okay-button {
    width: 10rem;
    padding: 8px;
    background-color: var(--black-button);
    color: var(--white);
    border-radius: 4px;
}