@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Playfair+Display:wght@500&display=swap');

.bm-item {
    display: inline-block;
    text-decoration: none;
    color: #000;
    transition: color 0.2s;
    font-family: 'manrope', sans-serif;
    font-size: 16px;
    font-weight: 600;

}

.bm-item:hover {
    color: #373a47;
}

.bm-burger-button {
    position: absolute;
    display: flex;
    align-items: center;
    width: 30px;
    height: 20px;
    margin-top: -6px;
    /* left: 20px;
    margin-top: 25px; */
    /* top: 36px; */
}

.bm-burger-bars {
    background: #fff;
}
.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: #000;
}

.bm-menu-wrap {
    position: absolute;
    height: 100vh !important;
    width: 280px !important;
    left: 0%;
    top: 0%;
}

.bm-menu {
    background: #fff;
    padding: 25px 15px 25px 15px ;
    font-size: 18px;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-item-list {
    color: #b8b7ad;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bm-overlay {
    
    background: rgba(0, 0, 0, 0.3);
    top: 0%;
}

.mobile-menu-logo {
    width: 4rem;
    height: 4rem;
    padding: 5px;
    background-color: var(--abia-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mobile-menu-item {
    display: flex;
    margin-left: 1rem;
    /* margin-bottom: 1rem; */
}
.submenu-item {
    padding: 5px;
}


.mobile-menu-login {
   display: flex;
   justify-content: center;
   align-items: center;
    width: 150px;
    height: 35px;
    background-color: #c3e7e4;
    border-radius: 20px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    padding-left: 0px;
}

.mobile-menu-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
    background-color: #000;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}


.mobile-menu-option {
    display: block;
    border-bottom: 1px solid #DAD6D6;
    padding: 10px;
    cursor: pointer;
}


.mobile-menu-accordionPanel {
    /* padding: 14px; */
    font-size: 14px;
    font-weight: 600;

}
/* .mobile-navbar-acordionButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.customAccordionPaper {
    border: none !important;
    box-shadow: none !important;
    padding: 0;
}


@media(min-width:1023px) {
.bm-burger-button {
    display: none;
        /* top: 36px; */
    }

.bm-menu {
    display: none;
}

.bm-overlay {
    display: none;
}
}

