

.footer-container {
    min-height: 100px;
    background-color: var(--footer-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    color: var(--font-color);
    padding: 1rem;
}

.footer-logo {
    width: 80px;
    height: 85px;
    border-radius: 50%;
    background-color: var(--abia-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.logo-adjust {
    width: fit-content;
    width: 70px;
}

.footer-text {
    font-size: 14px;
    color: var(--font-color);
    margin-bottom: 10px;
    width: 14rem;
}

.footer-social-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-content-3 {
    display: flex;
    gap: 20px;
}

.footer-copyright {
    color: var(--font-color);
    font-size: 10px;
    text-align: center;
}

.footer-content-3-desktop {
    display: none;
}


.footer-text {
    cursor: pointer;
}
.footneru-section {
    width: 100vw;
    padding: 1rem 3rem;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: start;
    align-items: center;    
    flex-wrap: wrap;
    gap: 1.5rem;
}


.footneru-section li {
    width: auto;
}

@media(min-width:1024px) {
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;

    /* padding: 50px 55px; */
}

.footneru-section {
    width: 64vw;
    padding: 1rem ;
}

.footer-social-icon {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 10px;
}




.footer-content-3 {
 display: none;
}

.footer-content-3-desktop {
    display: block;
    margin-top: -2vw;
}

    .footer-logo {
        border-radius: 50%;
        background-color: var(--abia-color);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -8px;
        cursor: pointer;
    }

}


