.QandA-panel-container {
    padding: 1px 25px 25px 0px;
}

.question-input-style {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: #fafafa;
    border: 1px solid #c3bebe;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.answer-input-style {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background: #fafafa;
    border: 1px solid #c3bebe;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
    outline: none;
}

.qandA-delete-button {
    position: absolute;
    right: 2rem;
    margin-top: -2.5rem;
}

.question-cancel-button {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;

}

@media(min-width:1023px) {
    .question-input-style {
        width: 90%;
    }

    .answer-input-style {
        width: 90%;
    }

.qandA-delete-button { 
    right: 6rem;
}
}

@media(min-width:1250px) {
    .qandA-delete-button { 
        right: 7rem;
    }   
}