    /* Default border color for collapsed state */

.myprofile-textarea-style {
    margin-top: 1px;
    background-color: #F4F5F6;
    border: 1px solid #b1b1b1;
    border-radius: 10px;
    width: 100%;
    height: 150px;
    padding: 15px;
    outline: none;
}


.myprofile-button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.myprofile-save-button {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    background-color: #6cc2bc;
    color: white;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}
.myprofile-save-button.clicked .myprofile-accordion-button[aria-expanded="false"]  {
    /* Apply your desired styles here */

}

.myprofile-cancel-button {
    display: inline-block;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.quickdescription-down-aroww {
    position: absolute;
    color: #6cc2bc;
    margin-left: 63vw;
    margin-top: -23px;
    cursor: pointer;
}

.display-showmore {
    display: block;
    margin-top: 10px; 
    font-weight: 600;

}

.profile-editor-position {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
}


@media(min-width:769px) {
    .quickdescription-down-aroww {
        position: absolute;
        margin-left: 40vw;
        margin-top: -23px;
    }
}

@media(min-width:860px) {
    .quickdescription-down-aroww {
        position: absolute;
        margin-left: 42vw;
        margin-top: -23px;
    }
}

@media(min-width:920px) {
    .quickdescription-down-aroww {
        position: absolute;
        margin-left: 46vw;
        margin-top: -23px;
    }
}

@media(min-width:1023px) {
    .quickdescription-down-aroww {
        position: absolute;
        color: #6cc2bc;
        margin-left: 48vw;
        margin-top: -20px;
    }

    .myprofile-textarea-style {
        position: relative;
    }

    .myprofile-save-button {
        position: absolute;
        right: 52px;
    }

    .myprofile-textarea-style {
        width: 90%;
    }
}


@media(min-width:1250px) {
    .myprofile-save-button {
        right: 70px;
    }
}

@media(min-width:1350px) {
    .myprofile-save-button {
        position: absolute;
        right: 90px;
    }
}