

.photosVideos-acordion-container {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: 90px repeat(4, 1fr);
}

.photosVideos-header-largescreen {
    grid-column: 2/15;
}


.photosVideos-accordion {
    margin-top: -25px;
    margin-left: -37px;
    grid-column: 1/15;
    grid-row: 1/5;
    border-radius: 20px;
    background-color: #fff;
}


.photosVideos-header {
    grid-column: 1/15;
}

.photosVideos-accordion-item-header {
    /* margin-left: 10px; */
    font-size: 18px;
    font-weight: 600;
}

.myprofile-accordionbutton-style {
    padding: 0%;
    margin-bottom: 15px;
    margin-top: 20px;
}

.photosVideos-accordion__item+.accordion__item {
    border-top: 1px solid #dad6d6;
}



.photosVideos-accordion__button {
    position: relative;
    cursor: pointer;
    padding: 22px 15px 22px 22px;
    width: 100%;
    display: flex;
    align-items: flex-start;
}


.photosVideos-business-down-aroww {
    position: absolute;
    color: #6cc2bc;
    margin-left: 68vw;
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.photosVideos-business-basicinfo-icon {
    width: 28px;
    margin-left: -3px;
}




[hidden] {
    display: none;
}

.photosVideos-accordion__panel {
    padding: 20px;
    padding-top: 5px;
    margin-top: -20px;
    animation: fadein 0.35s ease-in;
    background-color: #fff;
    border-radius: 20px;
}

.myprofile-itempanel-style {
    border: 2px solid #b1b1b1;
    border-radius: 30px;
    padding: 26px 30px 25px 40px;
    width: 120%;
}
.photos-down-aroww {
    position: absolute;
    color: #6cc2bc;
    margin-left: 59vw;
    margin-top: -20px;
}
/* media query */

@media (min-width: 769px) {
    .photos-down-aroww {
        margin-left: 44vw;
    }
}

@media (min-width: 900px) {
    .photos-down-aroww {
        margin-left: 50vw;
    }
}


@media (min-width: 1000px) {
    .photos-down-aroww {
        margin-left: 40vw;
    }

    .photosVideos-acordion-container {
        max-width: 1250px;
        display: grid;
        grid-template-columns: repeat(80, 1fr);
         grid-template-rows: 90px repeat(2, 1fr);
    }

    .photosVideos-accordion {
        /* margin-top: 25px; */
        grid-column: 1/78;
        grid-row: 1/4;
        /* border: 2px solid #dad6d6; */
        border-radius: 20px;
        background-color: #fff;
    }

    .photosVideos-accordion__button {
        /* padding: 22px 15px 22px 35px; */
    }

    .photosVideos-accordion__panel {
        /* padding: 35px; */
        /* padding-top: 5px; */
    }

    .photosVideos-header-largescreen {
        grid-column: 1/62;
    }

    .myprofile-itempanel-style {
        border: 2px solid #b1b1b1;
        border-radius: 30px;
        padding: 26px 30px 25px 40px;
        width: 100%;
    }

}


@media (min-width: 1200px) {
    .photos-down-aroww {
        margin-left: 44vw;
    }
}
/* 
@media (min-width: 1350px) {
    .photosVideos-down-aroww {
        margin-left: 48vw;
    }
} */