

.myprofile-textarea-style {
    margin-top: 15px;
    background-color: #F4F5F6;
    border: 1px solid #b1b1b1;
    border-radius: 10px;
    width: 100%;
    height: 150px;
    padding: 15px;
}

.quickdec-button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.myprofile-save-button {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    border-radius: 30px;
    background-color: #6cc2bc;
    color: white;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.myprofile-cancel-button {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #000;
    background-color: #fff;
    /* color: white; */
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.quickdescription-down-aroww {
    /* position: absolute; */
    color: #6cc2bc;
    margin-left: 63vw;
    margin-top: -23px;
}

@media(min-width:1024px) {
    .quickdescription-down-aroww {
        /* position: absolute; */
        color: #6cc2bc;
        margin-left: 49vw;
        margin-top: -20px;
    }
} 

@media(min-width:1024px) {
    .myprofile-textarea-style {
        margin-top: 15px;
        background-color: #F4F5F6;
        border: 1px solid #b1b1b1;
        border-radius: 10px;
        width: 90%;
        height: 150px;
    }
}


