.cropper-container {
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    /* min-width: none; */
    /* min-height: 11rem; */
}

.cropper-container .add-icon {
    width: 50px;
    height: 50px;
}

.cropper-container input {
    display: none;
}

.cropper-container .cropper-img-container {
    margin: 10px auto;
    /* width: 125px;
    height: 125px; */
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #dad6d6;
    background: #fafafa;
    cursor: pointer;
}

.cropper-container .cropper-img-container img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cropper-upload-button {
    display: inline-block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    /* width: 150px; */
    width: 250px;
    background-color: #e8cf82;
    border: 1px solid #ccc;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 800;
}

.cropper-upload-icon {
    font-size: 22px;
    margin-left: 7px;
}


.cropper-upload-recommendation {
    position: absolute;
    margin-top: 10px;
    margin-bottom: 5rem;
    color: #c3bebe;
    font-size: 14px;
    margin-left: calc((100vw - 375px) / 2);
}


@media(min-width: 769px) {
    .cropper-upload-recommendation {
        margin-left: calc((100vw - 649px) / 2);
    }
}

@media(width: 820px) {
    .cropper-upload-recommendation {
        margin-left: calc((100vw - 800px) / 2);
    }
}

@media(min-width:1023px) {
    .cropper-upload-recommendation {
        margin-left: calc((100vw - 1024px) / 2);
        
    }

}

@media(min-width:1250px) {
    .cropper-container {
        /* margin: 10px; */
        width: 150px;
        height: 150px;
        position: relative;
    }

    .cropper-upload-button {
        display: inline-block;
        position: absolute;
        margin-top: -125px;
        margin-left: 10.5rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 10px;
        /* width: 150px; */
        width: 120px;
        height: 40px;
        background-color: #e8cf82;
        border: 1px solid #ccc;
        border-radius: 30px;
        cursor: pointer;
        font-weight: 800;
    }

    .cropper-upload-recommendation {
        font-size: 13px;
        position: absolute;
        margin-top: -4.5rem;
        /* margin-top: -73px; */
        margin-left: 10.5rem;
        text-wrap: nowrap;
   }


}


/********* image uploader */
.image-style-uploader {
    margin: 10px auto;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #dad6d6;
    background: #fafafa;
    cursor: pointer;
}

.upload-button {
    display: inline-block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    /* width: 150px; */
    width: 250px;
    background-color: #e8cf82;
    border: 1px solid #ccc;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 800;
}

.upload-icon {
    font-size: 22px;
    margin-left: 7px;
}

.ReactModal__Content {
    position: absolute;
    inset: 50% 40px 40px 50%;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(224, 224, 224);
    overflow: hidden !important;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    height: fit-content;
    width: fit-content;
    max-width: 90%;
    max-height: 90%;
    transform: translate(-50%, -50%);
}


@media(min-width:1250px) {
    .image-style-uploader {
        margin: 10px;
        width: 150px;
        height: 150px;
    }

    .upload-button {
        display: inline-block;
        margin-top: -125px;
        margin-left: 200px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 10px;
        /* width: 150px; */
        width: 150px;
        background-color: #e8cf82;
        border: 1px solid #ccc;
        border-radius: 30px;
        cursor: pointer;
        font-weight: 800;
    }

}