/* active class */

.sidebarMenuItem {
    padding: 6px;
    display: flex;
    border-radius: 1rem 0 0 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    transition-duration: 300ms;
    font-weight: 500;
    margin-left: -10px;
}

.sidebarMenuItem:hover{
color: #fff;
    background-color: var(--abia-color);
    /* font-size: 16px; */
}

.sidebarMenuItem.active {
   color: var(--abia-color);
    background-color: #f4f5f6;
}

.sidebarMenuItem.active .fill-current {
    fill: var(--abia-color);
}

.sidemenuwithSub {
    padding: 6px;
    display: flex;
    border-radius: 1rem 0 0 1rem;
    gap: 1rem;
    cursor: pointer;
    transition-duration: 300ms;
    font-weight: 500;
    margin-left: -10px;
}
.sidemenuwithSub:hover {
    color: #fff;
    background-color: var(--abia-color);
    /* font-size: 16px; */
}

.sidemenuwithSub.active {
    color: var(--abia-color);
    background-color: #f4f5f6;
}

.sidemenuwithSub.active .fill-current {
    fill: var(--abia-color);
}

/*****************Sub menu ***************/
/* submenu highlight */
.sublink {
    padding: 6px;
    display: flex;
    border-radius: 0 0 0 0;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    transition-duration: 300ms;
    font-weight: 600px;

}

.sublink:hover {
    color: #fff;
    background-color: var(--abia-color);
    border-left: 4px solid #e8cf82;
    /* font-size: 15px;
    font-weight: 500; */
}

.sublink.active {

    color: var(--abia-color);
    background-color: #f4f5f6;
    font-weight: 400;
    font-size: 14px;
    border-left: 3px solid #e8cf82;
}




/* submenu style */
.submenu-style {
    text-transform: capitalize;
    font-weight: 300;
    font-size: 14px;
/* gap: 5px;     */
}

/* vertical lining */
.submenu-line {
    top: -13px;
    bottom: -50px;
    left: -30px;
    width: 1px;
    background-color: #fff;
}
/*  */
.submenu-list {
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    /* Add this line */
}

.submenu-list li {
    margin-top: 4px;
    margin-bottom: 4px;
    position: relative;
   
    
    /* Add this line */
}




.icon-wrapper {
    margin-right: 0.5rem;
    /* Adjust the margin as needed */
}


/**********ICONs changes**************/
/* showcase icon */
#OBJECT {
    /* width: 20px;
    height: 20px;
    margin-left: 21px; */

}

/* promotions */
.link.active .cls-1{
    fill:var(--abia-color)
}

/*enquiry icon  */
.link.active .st0 {
    fill: var(--abia-color);
}



.fixed-sidebar {
    position: fixed;
}


/* scrollbar */

.scrollbar-thumb-slate-100{
    --scrollbar-thumb: initial !important
}

.scrollbar-track-white{
    --scrollbar-track: initial !important
}

/* logo */

.vendor_abialogo {
    width: 86px;
    cursor: pointer;
}