/* Topbar dropmenu */
.dash-dropdown {
    position: absolute;
    right: 0;
    margin-top: 15px;
    margin-right: 40px;
    width: 200px;
    height: 150px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 0 10px #bebebe           
}

.dash-dropdown.arrow-top {
    margin-top: 55px;
}

.dash-dropdown.arrow-top:after {
    content: " ";
    position: absolute;
    right: 40px;
    top: -12px;
    border-top: none;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 14px solid rgb(255, 255, 255);
    
}

.dash-dropdown li {
    padding: 9px 16px;
    cursor: pointer;
}

.dash-dropdown li:hover:nth-child(1) {
    background-color: #f2f0f0;
    border-radius:20px 20px 0px 0px;
}

.dash-dropdown li:hover:nth-child(2) {
    background-color: #f2f0f0;
}
.dash-dropdown li:hover:nth-child(3) {
    background-color: #f2f0f0;
    border-radius: 0px 0px 20px 20px;
}

.dash-dropdown li:nth-child(3) {
    border-top: 1px solid #aeb0b0;
}

.dash-dropdown li:nth-child(1) {
    border-bottom: 1px solid #aeb0b0;
}
/* .dropdown li:nth-child(3) {
    background-color: black;
    border-radius: 20px;
} */


/*  */
.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: #6cc2bc;
    z-index: 1000;
    color: white;
}

.menu-container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 5%; */

}

.visible {
    visibility: visible;
} 

/* .menu-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
} */


/*  */
.hr-line {
    width: 100%;
    border: none;
    border-top: 1px solid white;

}

@media (width:768px) {
.ipad-mini {
        margin-left: 550px;
    }
}

@media(maxwidth:769px) {
    .visible{
        display: none;
    }
}

