@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Playfair+Display:wght@500&display=swap');
/* Mantope */
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Raleway&family=Source+Sans+3&display=swap');

/* .font-manrope {
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-raleway;
    @apply text-[#515151];
  }

  body {
    background: #ffffff;
    letter-spacing: 0.25px;
    line-height: 1.5;
    font-family: 'Manrope', sans-serif;
  }

  h1 {
    @apply text-[26px] font-[700] ;
  }
  
}

input:focus {
  outline: none;
}


.quickdescription-down-arrow:focus+.myprofile-accordion-button[aria-expanded="false"]+.myprofile-accordion-item-header {
  display: block;
}
/* font size */

h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
}

h5 {
  font-size: 14px;
  line-height: 18px
}

h6 {
  font-size: 12px;
  line-height: 18px
}

h7 {
  font-size: 10px;
  line-height: 16px
}

p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  font-weight: 400;
  overflow-wrap: break-word;
  white-space: normal;
  color: #8e8e8e;
}

.blog-background p {
color: #222222;
}

label {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}


 .mainHeader {
    font-size: 22px;
    font-weight: 800;
    line-height: 26px;
 }


 .sidebarMenuItem {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
 }

.sidebarSubMenuItem {
  font-size: 14px;
  font-weight: 400;
    line-height: 20px;
}

.font-source-pro {
    font-family: 'Source Sans 3', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* STYLE GUIDE */
:root {
  --search-icon-fill: #B7B7B7;
  --navbar-icon-fill: #B7B7B7;
  --abia-color: #5a9d98;
}

@media (max-width: 768px) {
  :root {
    --navbar-icon-fill: #fff;
  }
}


number {
  font-family: "Source-sans-pro";
  font-weight: 600;
  font-size: 14px;
}

/* star - important */
.star {
  color: red;
  font-size: 16px;
}

.font-playfair {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}



/* Errors */
.error-message {
  font-size: 12px;
  color: red;
}
.error {
  border: dashed 1px #ea0606;
  color: #ea0606;
  padding: 10px 60px 10px 10px;
  position: relative;
  margin-bottom: 20px;
}

.error .close {
  position: absolute;
  right: 8px;
  top: 4px;
  font-size: 20px;
  color: #ff0000;
  text-decoration: none;
  float: right;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.error p {
  color: red;
  font-size: 12px;
}

/* Success */
.success-message {
  color: #6cc2bc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}