

.rootLayout {
    height: 100vh;
    max-width: 100%;
    flex: 1;
    margin-top: 100px;
    margin-left: 280px;
}


@media (max-width:770px) {
    .rootLayout{
    /* margin-left: 18px; */
    margin-left: 0px;
    }
}

@media (width:768px) {
    .rootLayout {
        /* margin-left: 40px; */
    }
}

@media (width:820px) {
    .rootLayout {
        margin-left: 260px;
    }
}

@media (min-width:1100px) {
    .rootLayout {
        /* margin-left: 18px; */
        margin-left: 300px;
    }
}
